body {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

body header {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 72px;
  text-align: center;
}

body header .title {
  text-align: center;
  line-height: 72px;
  font-weight: bold;
  border-bottom: none;
  color: black;
}

body #hamburger-menu {
  width: 72px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

body #hamburger-menu span {
  margin-left: auto;
  width: 40px;
  height: 2px;
  background-color: black;
  position: absolute;
  right: 0;
}

body #hamburger-menu span:nth-child(1) {
  top: 24px;
}

body #hamburger-menu span:nth-child(2) {
  top: 40px;
}

body #hamburger-menu #hamburger-menu:hover {
  opacity: 0.4;
}

body #hamburger-menu.invisible {
  display: none;
}

body #container {
  margin: 0 auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (4fr)[4];
      grid-template-columns: repeat(4, 4fr);
  -ms-grid-rows: (2fr)[2];
      grid-template-rows: repeat(2, 2fr);
  gap: 1em;
}

body #container .product-fearture img {
  display: block;
  width: 100%;
}

body #container .product-fearture .description p {
  font-size: 10px;
  color: black;
  text-decoration: none;
}

body #container .product-fearture:hover {
  opacity: 0.5;
}

body footer .view-more {
  width: 100px;
  margin: 0 auto;
  font-size: 12px;
  color: black;
}

body footer .view-more:hover {
  opacity: 0.6;
}

body footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

body footer nav ul li {
  list-style: none;
}

body footer nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 8px;
}

body footer .end {
  font-size: 2px;
  width: 100px;
  margin-left: auto;
}

#cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: gray;
  opacity: 0;
  pointer-events: none;
}

#cover nav {
  margin-right: auto;
}

#cover nav ul {
  list-style: none;
}

#cover nav li {
  width: 200px;
  text-align: left;
  margin-bottom: 20px;
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

#cover nav li a {
  width: 200px;
  color: white;
  opacity: 1;
  text-decoration: none;
}

#cover #close-menu {
  width: 72px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
}

#cover #close-menu span {
  margin-left: auto;
  width: 40px;
  height: 2px;
  background-color: white;
  position: absolute;
  right: 70px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#cover #close-menu span:nth-child(1) {
  top: 24px;
}

#cover #close-menu span:nth-child(2) {
  top: 40px;
}

#cover #close-menu.active span:nth-child(1) {
  top: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#cover #close-menu.active span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 40px;
}

#cover.show {
  opacity: 0.6;
  pointer-events: auto;
}

#cover.show li {
  -webkit-transform: none;
          transform: none;
}
/*# sourceMappingURL=style.css.map */